[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Conman's Dictionary
MimeType=application/vnd.beastwithin.condictionary+xml;
Icon=../gfx/conmandictionary.png
Exec=../conmandictionary.sh
Type=Application
Terminal=false
GenericName[en_US]=A dictionary application for constructed languages
Comment[en_US]=
